<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>47,58</string>
				<key>city_key</key>
				<string>600280000</string>
				<key>city_name</key>
				<string>爱尔兰猎狼犬</string>
				<key>initials</key>
				<string>aelllq</string>
				<key>pinyin</key>
				<string>aierlanlielangquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>25,30</string>
				<key>city_key</key>
				<string>1000090000</string>
				<key>city_name</key>
				<string>爱尔兰雪达犬</string>
				<key>initials</key>
				<string>aelxdq</string>
				<key>pinyin</key>
				<string>aierlanxuedaquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>35,40</string>
				<key>city_key</key>
				<string>1500080000</string>
				<key>city_name</key>
				<string>阿拉斯加雪橇犬</string>
				<key>initials</key>
				<string>alsjxqq</string>
				<key>pinyin</key>
				<string>alasijiaxueqiaoquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>30,30</string>
				<key>city_key</key>
				<string>1300030000</string>
				<key>city_name</key>
				<string>阿富汗猎犬</string>
				<key>initials</key>
				<string>afhlq</string>
				<key>pinyin</key>
				<string>afuhanliequan</string>
			</dict>
		</array>
		<key>initial</key>
		<string>A</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>25,27</string>
				<key>city_key</key>
				<string>2300080000</string>
				<key>city_name</key>
				<string>标准贵宾犬</string>
				<key>initials</key>
				<string>bzgbq</string>
				<key>pinyin</key>
				<string>biaozhunguibinquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>28,28</string>
				<key>city_key</key>
				<string>2300060000</string>
				<key>city_name</key>
				<string>巴吉度犬</string>
				<key>initials</key>
				<string>bjdq</string>
				<key>pinyin</key>
				<string>bajiduquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>5,5</string>
				<key>city_key</key>
				<string>3000040000</string>
				<key>city_name</key>
				<string>北京犬</string>
				<key>initials</key>
				<string>bjq</string>
				<key>pinyin</key>
				<string>beijingquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>7,7</string>
				<key>city_key</key>
				<string>1800060000</string>
				<key>city_name</key>
				<string>比熊犬</string>
				<key>initials</key>
				<string>bxq</string>
				<key>pinyin</key>
				<string>bixiongquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>8,10</string>
				<key>city_key</key>
				<string>1000030000</string>
				<key>city_name</key>
				<string>波士顿梗</string>
				<key>initials</key>
				<string>bsdg</string>
				<key>pinyin</key>
				<string>boshidungeng</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>3,3</string>
				<key>city_key</key>
				<string>2500050000</string>
				<key>city_name</key>
				<string>博美犬</string>
				<key>initials</key>
				<string>bmq</string>
				<key>pinyin</key>
				<string>bomeiquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>8,8</string>
				<key>city_key</key>
				<string>100010000</string>
				<key>city_name</key>
				<string>巴哥犬</string>
				<key>initials</key>
				<string>bgq</string>
				<key>pinyin</key>
				<string>bagequan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>15,15</string>
				<key>city_key</key>
				<string>1500030000</string>
				<key>city_name</key>
				<string>波力犬</string>
				<key>initials</key>
				<string>blq</string>
				<key>pinyin</key>
				<string>boliquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>10,11</string>
				<key>city_key</key>
				<string>1500060000</string>
				<key>city_name</key>
				<string>巴仙吉犬</string>
				<key>initials</key>
				<string>bxjq</string>
				<key>pinyin</key>
				<string>baxianjiquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>18,23</string>
				<key>city_key</key>
				<string>1500060001</string>
				<key>city_name</key>
				<string>边境牧羊犬</string>
				<key>initials</key>
				<string>bjmyq</string>
				<key>pinyin</key>
				<string>bianjingmuyangquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>15,18</string>
				<key>city_key</key>
				<string>1500060001</string>
				<key>city_name</key>
				<string>标准雪纳瑞</string>
				<key>initials</key>
				<string>bzxnr</string>
				<key>pinyin</key>
				<string>biaozhunxuenarui</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>12,12</string>
				<key>city_key</key>
				<string>1500060002</string>
				<key>city_name</key>
				<string>比格犬</string>
				<key>initials</key>
				<string>bgq</string>
				<key>pinyin</key>
				<string>bigequan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>10,10</string>
				<key>city_key</key>
				<string>1500060003</string>
				<key>city_name</key>
				<string>贝林顿梗</string>
				<key>initials</key>
				<string>bldg</string>
				<key>pinyin</key>
				<string>beilingdungeng</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>46,48</string>
				<key>city_key</key>
				<string>1500060004</string>
				<key>city_name</key>
				<string>波尔多犬</string>
				<key>initials</key>
				<string>bedq</string>
				<key>pinyin</key>
				<string>boerduoquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>42,48</string>
				<key>city_key</key>
				<string>1500060005</string>
				<key>city_name</key>
				<string>伯恩山犬</string>
				<key>initials</key>
				<string>besq</string>
				<key>pinyin</key>
				<string>boenshanquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>25,30</string>
				<key>city_key</key>
				<string>1500060006</string>
				<key>city_name</key>
				<string>波音达犬</string>
				<key>initials</key>
				<string>bydq</string>
				<key>pinyin</key>
				<string>boyindaquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>22,28</string>
				<key>city_key</key>
				<string>1500060007</string>
				<key>city_name</key>
				<string>比利时牧羊犬</string>
				<key>initials</key>
				<string>blsmyq</string>
				<key>pinyin</key>
				<string>bilishimuyangquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>57,66</string>
				<key>city_key</key>
				<string>1500060008</string>
				<key>city_name</key>
				<string>巴西费勒</string>
				<key>initials</key>
				<string>bxfl</string>
				<key>pinyin</key>
				<string>baxifeile</string>
			</dict>
		</array>
		<key>initial</key>
		<string>B</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>5,5</string>
				<key>city_key</key>
				<string>1800090000</string>
				<key>city_name</key>
				<string>串串-小型犬</string>
				<key>initials</key>
				<string>cc-xxq</string>
				<key>pinyin</key>
				<string>chuanchuan-xiaoxingquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>8,10</string>
				<key>city_key</key>
				<string>2300010000</string>
				<key>city_name</key>
				<string>柴犬</string>
				<key>initials</key>
				<string>cq</string>
				<key>pinyin</key>
				<string>chaiquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>22,34</string>
				<key>city_key</key>
				<string>1500160000</string>
				<key>city_name</key>
				<string>串串-中型犬</string>
				<key>initials</key>
				<string>cc-zxq</string>
				<key>pinyin</key>
				<string>chuanchuan-zhongxingquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>30,35</string>
				<key>city_key</key>
				<string>900010000</string>
				<key>city_name</key>
				<string>串串-大型犬</string>
				<key>initials</key>
				<string>cc-dxq</string>
				<key>pinyin</key>
				<string>chuanchuan-daxingquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>11,12</string>
				<key>city_key</key>
				<string>600340000</string>
				<key>city_name</key>
				<string>川东猎犬</string>
				<key>initials</key>
				<string>cdlq</string>
				<key>pinyin</key>
				<string>chuandongliequan</string>
			</dict>
		</array>
		<key>initial</key>
		<string>C</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>10,10</string>
				<key>city_key</key>
				<string>700330000</string>
				<key>city_name</key>
				<string>短脚长身梗</string>
				<key>initials</key>
				<string>djcsg</string>
				<key>pinyin</key>
				<string>duanjiaochangshengeng</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>27,27</string>
				<key>city_key</key>
				<string>2800130000</string>
				<key>city_name</key>
				<string>斗牛梗</string>
				<key>initials</key>
				<string>dng</string>
				<key>pinyin</key>
				<string>douniugeng</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>27,27</string>
				<key>city_key</key>
				<string>1300010000</string>
				<key>city_name</key>
				<string>大麦町犬</string>
				<key>initials</key>
				<string>dmtq</string>
				<key>pinyin</key>
				<string>damaitingquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>50,55</string>
				<key>city_key</key>
				<string>1300060000</string>
				<key>city_name</key>
				<string>斗牛獒犬</string>
				<key>initials</key>
				<string>dnaq</string>
				<key>pinyin</key>
				<string>douniuaoquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>42,43</string>
				<key>city_key</key>
				<string>2600050000</string>
				<key>city_name</key>
				<string>杜高犬</string>
				<key>initials</key>
				<string>dgq</string>
				<key>pinyin</key>
				<string>dugaoquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>29,33</string>
				<key>city_key</key>
				<string>1100060000</string>
				<key>city_name</key>
				<string>杜宾犬</string>
				<key>initials</key>
				<string>dbq</string>
				<key>pinyin</key>
				<string>dubinquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>58,65</string>
				<key>city_key</key>
				<string>2100020000</string>
				<key>city_name</key>
				<string>大丹犬</string>
				<key>initials</key>
				<string>ddq</string>
				<key>pinyin</key>
				<string>dadanquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>47,53</string>
				<key>city_key</key>
				<string>800150000</string>
				<key>city_name</key>
				<string>大白熊犬</string>
				<key>initials</key>
				<string>dbxq</string>
				<key>pinyin</key>
				<string>dabaixiongquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>29,38</string>
				<key>city_key</key>
				<string>2000190000</string>
				<key>city_name</key>
				<string>德国牧羊犬</string>
				<key>initials</key>
				<string>dgmyq</string>
				<key>pinyin</key>
				<string>deguomuyangquan</string>
			</dict>
		</array>
		<key>initial</key>
		<string>D</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>45,45</string>
				<key>city_key</key>
				<string>800220000</string>
				<key>city_name</key>
				<string>恶霸犬</string>
				<key>initials</key>
				<string>ebq</string>
				<key>pinyin</key>
				<string>ebaquan</string>
			</dict>
		</array>
		<key>initial</key>
		<string>E</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>11,12</string>
				<key>city_key</key>
				<string>300060000</string>
				<key>city_name</key>
				<string>法国斗牛犬</string>
				<key>initials</key>
				<string>fgdnq</string>
				<key>pinyin</key>
				<string>faguodouniuquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>24,24</string>
				<key>city_key</key>
				<string>1900130000</string>
				<key>city_name</key>
				<string>法国王猎犬</string>
				<key>initials</key>
				<string>fgwlq</string>
				<key>pinyin</key>
				<string>faguowangliequan</string>
			</dict>
		</array>
		<key>initial</key>
		<string>F</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>4,4</string>
				<key>city_key</key>
				<string>2400070000</string>
				<key>city_name</key>
				<string>冠毛犬</string>
				<key>initials</key>
				<string>gmq</string>
				<key>pinyin</key>
				<string>guanmaoquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>8,8</string>
				<key>city_key</key>
				<string>2000200000</string>
				<key>city_name</key>
				<string>刚毛狐狸梗</string>
				<key>initials</key>
				<string>gmhlg</string>
				<key>pinyin</key>
				<string>gangmaohuligeng</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>27,31</string>
				<key>city_key</key>
				<string>800070000</string>
				<key>city_name</key>
				<string>戈登雪达犬</string>
				<key>initials</key>
				<string>gdxdq</string>
				<key>pinyin</key>
				<string>gedengxuedaquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>32,39</string>
				<key>city_key</key>
				<string>300110000</string>
				<key>city_name</key>
				<string>古代英国牧羊犬</string>
				<key>initials</key>
				<string>gdygmyq</string>
				<key>pinyin</key>
				<string>gudaiyingguomuyangquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>73,93</string>
				<key>city_key</key>
				<string>2500030000</string>
				<key>city_name</key>
				<string>高加索犬</string>
				<key>initials</key>
				<string>gjsq</string>
				<key>pinyin</key>
				<string>gaojiasuoquan</string>
			</dict>
		</array>
		<key>initial</key>
		<string>G</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>4,4</string>
				<key>city_key</key>
				<string>1100010000</string>
				<key>city_name</key>
				<string>蝴蝶犬</string>
				<key>initials</key>
				<string>hdq</string>
				<key>pinyin</key>
				<string>hudiequan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>20,22</string>
				<key>city_key</key>
				<string>700310000</string>
				<key>city_name</key>
				<string>荷兰毛狮犬</string>
				<key>initials</key>
				<string>hlmsq</string>
				<key>pinyin</key>
				<string>henanmaoshiquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>20,24</string>
				<key>city_key</key>
				<string>2600010000</string>
				<key>city_name</key>
				<string>哈士奇</string>
				<key>initials</key>
				<string>hsq</string>
				<key>pinyin</key>
				<string>hashiqi</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>10,12</string>
				<key>city_key</key>
				<string>700170000</string>
				<key>city_name</key>
				<string>惠比特犬</string>
				<key>initials</key>
				<string>hbtq</string>
				<key>pinyin</key>
				<string>huibitequan</string>
			</dict>
		</array>
		<key>initial</key>
		<string>H</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>6,6</string>
				<key>city_key</key>
				<string>1100080000</string>
				<key>city_name</key>
				<string>杰克罗素梗</string>
				<key>initials</key>
				<string>jklsg</string>
				<key>pinyin</key>
				<string>jiekeluosugeng</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>5,5</string>
				<key>city_key</key>
				<string>600330000</string>
				<key>city_name</key>
				<string>京巴犬</string>
				<key>initials</key>
				<string>jbq</string>
				<key>pinyin</key>
				<string>jingbaquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>2,2</string>
				<key>city_key</key>
				<string>300070000</string>
				<key>city_name</key>
				<string>吉娃娃</string>
				<key>initials</key>
				<string>jww</string>
				<key>pinyin</key>
				<string>jiwawa</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>39,39</string>
				<key>city_key</key>
				<string>700160000</string>
				<key>city_name</key>
				<string>巨型雪纳瑞</string>
				<key>initials</key>
				<string>jxxnr</string>
				<key>pinyin</key>
				<string>juxingxuenarui</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>29,33</string>
				<key>city_key</key>
				<string>2000080000</string>
				<key>city_name</key>
				<string>金毛犬</string>
				<key>initials</key>
				<string>jmq</string>
				<key>pinyin</key>
				<string>jinmaoquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>29,33</string>
				<key>city_key</key>
				<string>600260000</string>
				<key>city_name</key>
				<string>巨型贵宾</string>
				<key>initials</key>
				<string>jxgb</string>
				<key>pinyin</key>
				<string>juxingguibing</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>47,56</string>
				<key>city_key</key>
				<string>600040000</string>
				<key>city_name</key>
				<string>加纳利</string>
				<key>initials</key>
				<string>jnl</string>
				<key>pinyin</key>
				<string>jianali</string>
			</dict>
		</array>
		<key>initial</key>
		<string>J</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>13,15</string>
				<key>city_key</key>
				<string>2000020000</string>
				<key>city_name</key>
				<string>可卡犬</string>
				<key>initials</key>
				<string>kkq</string>
				<key>pinyin</key>
				<string>kekaquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>17,17</string>
				<key>city_key</key>
				<string>2800010000</string>
				<key>city_name</key>
				<string>凯利蓝梗</string>
				<key>initials</key>
				<string>kllg</string>
				<key>pinyin</key>
				<string>kaililangeng</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>48,48</string>
				<key>city_key</key>
				<string>700220000</string>
				<key>city_name</key>
				<string>卡斯罗犬</string>
				<key>initials</key>
				<string>kslq</string>
				<key>pinyin</key>
				<string>kasiluoquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>35,39</string>
				<key>city_key</key>
				<string>700220001</string>
				<key>city_name</key>
				<string>昆明犬</string>
				<key>initials</key>
				<string>kmq</string>
				<key>pinyin</key>
				<string>kunmingquan</string>
			</dict>
		</array>
		<key>initial</key>
		<string>K</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>7,7</string>
				<key>city_key</key>
				<string>1400120000</string>
				<key>city_name</key>
				<string>拉萨犬</string>
				<key>initials</key>
				<string>lsq</string>
				<key>pinyin</key>
				<string>lasaquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>8,8</string>
				<key>city_key</key>
				<string>1800100000</string>
				<key>city_name</key>
				<string>腊肠犬</string>
				<key>initials</key>
				<string>lcq</string>
				<key>pinyin</key>
				<string>lachangquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>29,33</string>
				<key>city_key</key>
				<string>600300000</string>
				<key>city_name</key>
				<string>拉布拉多犬</string>
				<key>initials</key>
				<string>lbldq</string>
				<key>pinyin</key>
				<string>labuladuoquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>29,31</string>
				<key>city_key</key>
				<string>3000010000</string>
				<key>city_name</key>
				<string>灵缇</string>
				<key>initials</key>
				<string>lt</string>
				<key>pinyin</key>
				<string>lingti</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>45,51</string>
				<key>city_key</key>
				<string>600180000</string>
				<key>city_name</key>
				<string>罗威纳犬</string>
				<key>initials</key>
				<string>lwnq</string>
				<key>pinyin</key>
				<string>luoweinaquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>32,39</string>
				<key>city_key</key>
				<string>800100000</string>
				<key>city_name</key>
				<string>罗德西亚脊背犬</string>
				<key>initials</key>
				<string>ldxyjbq</string>
				<key>pinyin</key>
				<string>luodexiyajibeiquan</string>
			</dict>
		</array>
		<key>initial</key>
		<string>L</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>16,16</string>
				<key>city_key</key>
				<string>1500050000</string>
				<key>city_name</key>
				<string>迷你贝吉格里芬凡丁犬</string>
				<key>initials</key>
				<string>mnbjglffdq</string>
				<key>pinyin</key>
				<string>minibeijigelifenfandingquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>8,8</string>
				<key>city_key</key>
				<string>300090000</string>
				<key>city_name</key>
				<string>迷你雪纳瑞</string>
				<key>initials</key>
				<string>mnxnr</string>
				<key>pinyin</key>
				<string>minixuenarui</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>13,15</string>
				<key>city_key</key>
				<string>300120000</string>
				<key>city_name</key>
				<string>美国可卡犬</string>
				<key>initials</key>
				<string>mgkkq</string>
				<key>pinyin</key>
				<string>meiguokekaquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>4,4</string>
				<key>city_key</key>
				<string>800060000</string>
				<key>city_name</key>
				<string>玛尔济斯</string>
				<key>initials</key>
				<string>mejs</string>
				<key>pinyin</key>
				<string>maerjisi</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>5,5</string>
				<key>city_key</key>
				<string>1500210000</string>
				<key>city_name</key>
				<string>迷你杜宾</string>
				<key>initials</key>
				<string>mndb</string>
				<key>pinyin</key>
				<string>minidubing</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>30,32</string>
				<key>city_key</key>
				<string>1100100000</string>
				<key>city_name</key>
				<string>美国猎狐犬</string>
				<key>initials</key>
				<string>mglhq</string>
				<key>pinyin</key>
				<string>meiguoliehuquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>66,91</string>
				<key>city_key</key>
				<string>1100100001</string>
				<key>city_name</key>
				<string>马士提夫獒犬</string>
				<key>initials</key>
				<string>mstfaq</string>
				<key>pinyin</key>
				<string>masitifuaoquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string></string>
				<key>city_key</key>
				<string>1100100002</string>
				<key>city_name</key>
				<string>马里努阿犬</string>
				<key>initials</key>
				<string>mlnaq</string>
				<key>pinyin</key>
				<string>malinuaquan</string>
			</dict>
		</array>
		<key>initial</key>
		<string>M</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>63,65</string>
				<key>city_key</key>
				<string>2400010000</string>
				<key>city_name</key>
				<string>那不勒斯獒</string>
				<key>initials</key>
				<string>nblsa</string>
				<key>pinyin</key>
				<string>nabulesiao</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>50,64</string>
				<key>city_key</key>
				<string>800110000</string>
				<key>city_name</key>
				<string>纽芬兰犬</string>
				<key>initials</key>
				<string>nflq</string>
				<key>pinyin</key>
				<string>niufenlanquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>27,27</string>
				<key>city_key</key>
				<string>700010000</string>
				<key>city_name</key>
				<string>牛头梗</string>
				<key>initials</key>
				<string>ntg</string>
				<key>pinyin</key>
				<string>niutougeng</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>63,65</string>
				<key>city_key</key>
				<string>2500010000</string>
				<key>city_name</key>
				<string>纽波利顿犬</string>
				<key>initials</key>
				<string>nbldq</string>
				<key>pinyin</key>
				<string>niuboliduanquan</string>
			</dict>
		</array>
		<key>initial</key>
		<string>N</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>20,24</string>
				<key>city_key</key>
				<string>1300110000</string>
				<key>city_name</key>
				<string>葡萄牙水犬</string>
				<key>initials</key>
				<string>ptysq</string>
				<key>pinyin</key>
				<string>putaoyashuiquan</string>
			</dict>
		</array>
		<key>initial</key>
		<string>P</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>25,30</string>
				<key>city_key</key>
				<string>700320000</string>
				<key>city_name</key>
				<string>拳师犬</string>
				<key>initials</key>
				<string>qsq</string>
				<key>pinyin</key>
				<string>quanshiquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>37,42</string>
				<key>city_key</key>
				<string>1400010000</string>
				<key>city_name</key>
				<string>秋田犬</string>
				<key>initials</key>
				<string>qtq</string>
				<key>pinyin</key>
				<string>qiutianquan</string>
			</dict>
		</array>
		<key>initial</key>
		<string>Q</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>8,8</string>
				<key>city_key</key>
				<string>1400110000</string>
				<key>city_name</key>
				<string>日本尖嘴犬</string>
				<key>initials</key>
				<string>rbjzq</string>
				<key>pinyin</key>
				<string>ribenjianzuiquan</string>
			</dict>
		</array>
		<key>initial</key>
		<string>R</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>9,10</string>
				<key>city_key</key>
				<string>2000120000</string>
				<key>city_name</key>
				<string>苏格兰梗</string>
				<key>initials</key>
				<string>sglg</string>
				<key>pinyin</key>
				<string>sugelangeng</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>5,5</string>
				<key>city_key</key>
				<string>1900040000</string>
				<key>city_name</key>
				<string>丝毛梗</string>
				<key>initials</key>
				<string>smg</string>
				<key>pinyin</key>
				<string>simaogeng</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>22,30</string>
				<key>city_key</key>
				<string>2600020000</string>
				<key>city_name</key>
				<string>萨摩耶犬</string>
				<key>initials</key>
				<string>smyq</string>
				<key>pinyin</key>
				<string>samoyequan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>18,20</string>
				<key>city_key</key>
				<string>200010000</string>
				<key>city_name</key>
				<string>史宾格猎犬</string>
				<key>initials</key>
				<string>sbglq</string>
				<key>pinyin</key>
				<string>shibingeliequan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>20,20</string>
				<key>city_key</key>
				<string>1000100000</string>
				<key>city_name</key>
				<string>萨路基猎犬</string>
				<key>initials</key>
				<string>sljlq</string>
				<key>pinyin</key>
				<string>salujiliequan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>35,41</string>
				<key>city_key</key>
				<string>2000140000</string>
				<key>city_name</key>
				<string>苏俄猎狼犬</string>
				<key>initials</key>
				<string>sellq</string>
				<key>pinyin</key>
				<string>suelielangquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>10,10</string>
				<key>city_key</key>
				<string>2400110000</string>
				<key>city_name</key>
				<string>苏格兰牧羊犬</string>
				<key>initials</key>
				<string>sglmyq</string>
				<key>pinyin</key>
				<string>sugelanmuyangquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>73,73</string>
				<key>city_key</key>
				<string>600200000</string>
				<key>city_name</key>
				<string>圣伯纳犬</string>
				<key>initials</key>
				<string>sbnq</string>
				<key>pinyin</key>
				<string>shengbonaquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>23,23</string>
				<key>city_key</key>
				<string>300050000</string>
				<key>city_name</key>
				<string>沙皮犬</string>
				<key>initials</key>
				<string>spq</string>
				<key>pinyin</key>
				<string>shapiquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>25,27</string>
				<key>city_key</key>
				<string>300130000</string>
				<key>city_name</key>
				<string>松狮犬</string>
				<key>initials</key>
				<string>ssq</string>
				<key>pinyin</key>
				<string>songshiquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>14,15</string>
				<key>city_key</key>
				<string>300020000</string>
				<key>city_name</key>
				<string>斯塔福</string>
				<key>initials</key>
				<string>stf</string>
				<key>pinyin</key>
				<string>sitafu</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>38,38</string>
				<key>city_key</key>
				<string>600060000</string>
				<key>city_name</key>
				<string>苏联红</string>
				<key>initials</key>
				<string>slh</string>
				<key>pinyin</key>
				<string>sulianhong</string>
			</dict>
		</array>
		<key>initial</key>
		<string>S</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>25,27</string>
				<key>city_key</key>
				<string>1400090000</string>
				<key>city_name</key>
				<string>泰迪犬</string>
				<key>initials</key>
				<string>tdq</string>
				<key>pinyin</key>
				<string>taidiquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>53,66</string>
				<key>city_key</key>
				<string>700290000</string>
				<key>city_name</key>
				<string>土佐</string>
				<key>initials</key>
				<string>tz</string>
				<key>pinyin</key>
				<string>tuzuo</string>
			</dict>
		</array>
		<key>initial</key>
		<string>T</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>9,10</string>
				<key>city_key</key>
				<string>1400070000</string>
				<key>city_name</key>
				<string>威尔士梗</string>
				<key>initials</key>
				<string>wesg</string>
				<key>pinyin</key>
				<string>weiershigeng</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>23,25</string>
				<key>city_key</key>
				<string>1400100000</string>
				<key>city_name</key>
				<string>万能梗</string>
				<key>initials</key>
				<string>wng</string>
				<key>pinyin</key>
				<string>wannenggeng</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>14,16</string>
				<key>city_key</key>
				<string>1000050000</string>
				<key>city_name</key>
				<string>威尔士柯基</string>
				<key>initials</key>
				<string>weskj</string>
				<key>pinyin</key>
				<string>weiershikeji</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>29,36</string>
				<key>city_key</key>
				<string>600230000</string>
				<key>city_name</key>
				<string>威玛猎犬</string>
				<key>initials</key>
				<string>wmlq</string>
				<key>pinyin</key>
				<string>weimaliequan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>22,25</string>
				<key>city_key</key>
				<string>600030000</string>
				<key>city_name</key>
				<string>维希拉猎犬</string>
				<key>initials</key>
				<string>wxllq</string>
				<key>pinyin</key>
				<string>weixilaliequan</string>
			</dict>
		</array>
		<key>initial</key>
		<string>W</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>7,7</string>
				<key>city_key</key>
				<string>1900020000</string>
				<key>city_name</key>
				<string>西施犬</string>
				<key>initials</key>
				<string>xsq</string>
				<key>pinyin</key>
				<string>xishiquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>7,8</string>
				<key>city_key</key>
				<string>1000010000</string>
				<key>city_name</key>
				<string>西高地梗</string>
				<key>initials</key>
				<string>xgdg</string>
				<key>pinyin</key>
				<string>xigaodigeng</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>10,10</string>
				<key>city_key</key>
				<string>1200030000</string>
				<key>city_name</key>
				<string>喜乐蒂牧羊犬</string>
				<key>initials</key>
				<string>xldmyq</string>
				<key>pinyin</key>
				<string>xiledimuyangquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>45,55</string>
				<key>city_key</key>
				<string>400130000</string>
				<key>city_name</key>
				<string>匈牙利牧羊犬</string>
				<key>initials</key>
				<string>xylmyq</string>
				<key>pinyin</key>
				<string>xiongyalimuyangquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>41,46</string>
				<key>city_key</key>
				<string>400140000</string>
				<key>city_name</key>
				<string>寻血猎犬</string>
				<key>initials</key>
				<string>xxlq</string>
				<key>pinyin</key>
				<string>xunxueliequan</string>
			</dict>
		</array>
		<key>initial</key>
		<string>X</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>3,3</string>
				<key>city_key</key>
				<string>1000060000</string>
				<key>city_name</key>
				<string>约克夏</string>
				<key>initials</key>
				<string>ykx</string>
				<key>pinyin</key>
				<string>yuekexia</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>22,24</string>
				<key>city_key</key>
				<string>2300090000</string>
				<key>city_name</key>
				<string>英国跳猎犬</string>
				<key>initials</key>
				<string>ygtlq</string>
				<key>pinyin</key>
				<string>yingguotiaoliequan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>8,8</string>
				<key>city_key</key>
				<string>700090000</string>
				<key>city_name</key>
				<string>银狐犬</string>
				<key>initials</key>
				<string>yhq</string>
				<key>pinyin</key>
				<string>yinhuquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>13,15</string>
				<key>city_key</key>
				<string>300150000</string>
				<key>city_name</key>
				<string>英国可卡犬</string>
				<key>initials</key>
				<string>ygkkq</string>
				<key>pinyin</key>
				<string>yingguokekaquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>30,32</string>
				<key>city_key</key>
				<string>2100030000</string>
				<key>city_name</key>
				<string>英国猎狐犬</string>
				<key>initials</key>
				<string>yglhq</string>
				<key>pinyin</key>
				<string>yingguoliehuquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>23,24</string>
				<key>city_key</key>
				<string>2500160000</string>
				<key>city_name</key>
				<string>英国斗牛犬</string>
				<key>initials</key>
				<string>ygdnq</string>
				<key>pinyin</key>
				<string>yingguodouniuquan</string>
			</dict>
		</array>
		<key>initial</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>initial</key>
		<string>Z</string>
		<key>citys</key>
		<array>
			<dict>
				<key>weight</key>
				<string>11,12</string>
				<key>city_key</key>
				<string>700280000</string>
				<key>city_name</key>
				<string>中华田园犬</string>
				<key>initials</key>
				<string>zhtyq</string>
				<key>pinyin</key>
				<string>zhonghuatianyuanquan</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>78,87</string>
				<key>city_key</key>
				<string>1800070000</string>
				<key>city_name</key>
				<string>藏獒</string>
				<key>initials</key>
				<string>za</string>
				<key>pinyin</key>
				<string>zangao</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>58,58</string>
				<key>city_key</key>
				<string>1400240000</string>
				<key>city_name</key>
				<string>中亚牧羊犬</string>
				<key>initials</key>
				<string>zymyq</string>
				<key>pinyin</key>
				<string>zhongyamuyangquan</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
