
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501824593142'); /* IE9*/
  src: url('iconfont.eot?t=1501824593142#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501824593142') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501824593142') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501824593142#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_font_close:before { content: "\e639"; }

.icon-icon_font_add:before { content: "\e63a"; }

.icon-icon_font_boy:before { content: "\e63b"; }

.icon-icon_font_dog:before { content: "\e63c"; }

.icon-icon_font_battery:before { content: "\e63d"; }

.icon-icon_font_error:before { content: "\e63e"; }

.icon-icon_font_back:before { content: "\e63f"; }

.icon-icon_font_dogfoot:before { content: "\e640"; }

.icon-icon_font_eye_close:before { content: "\e641"; }

.icon-icon_font_home_n:before { content: "\e642"; }

.icon-icon_font_eye_open:before { content: "\e643"; }

.icon-icon_font_home_s:before { content: "\e644"; }

.icon-icon_font_girl:before { content: "\e645"; }

.icon-icon_font_my_n:before { content: "\e646"; }

.icon-icon_font_finish:before { content: "\e647"; }

.icon-icon_font_informatio:before { content: "\e648"; }

.icon-icon_font_my_s:before { content: "\e649"; }

.icon-icon_font_necklace_n:before { content: "\e64a"; }

.icon-icon_font_login:before { content: "\e64b"; }

.icon-icon_font_neck:before { content: "\e64c"; }

.icon-icon_font_necklace_s:before { content: "\e64d"; }

.icon-icon_font_people:before { content: "\e64e"; }

.icon-icon_font_point:before { content: "\e64f"; }

.icon-icon_font_next:before { content: "\e650"; }

.icon-icon_font_registered:before { content: "\e651"; }

.icon-icon_font_positionin:before { content: "\e652"; }

.icon-icon_font_search:before { content: "\e653"; }

.icon-icon_font_smile:before { content: "\e654"; }

.icon-icon_font_tip:before { content: "\e655"; }

.icon-icon_font_watch:before { content: "\e656"; }

.icon-icon_font_wechat:before { content: "\e657"; }

.icon-icon_font_off:before { content: "\e658"; }

.icon-icon_font_on:before { content: "\e659"; }

.icon-icon_font_right_n:before { content: "\e65a"; }

.icon-icon_font_right_s:before { content: "\e65b"; }

.icon-icon_font_failure:before { content: "\e65c"; }

.icon-icon_font_lamp_close:before { content: "\e65d"; }

.icon-icon_font_lamp_open:before { content: "\e65e"; }

.icon-icon_font_location:before { content: "\e65f"; }

.icon-icon_font_no_notice:before { content: "\e660"; }

.icon-icon_font_notice:before { content: "\e661"; }

.icon-icon_font_refresh:before { content: "\e662"; }

.icon-icon_font_safe:before { content: "\e663"; }

.icon-icon_font_warning:before { content: "\e664"; }

.icon-icon_font_wifi:before { content: "\e665"; }

.icon-icon_font_no_bell:before { content: "\e666"; }

.icon-icon_font_bell:before { content: "\e667"; }

.icon-icon_font_help:before { content: "\e668"; }

